.cool {
	color: grey;
	background: lightblue;
	padding: 5px;
	display: flex;
	justify-content: flex-start;
}

a {
	text-decoration: none;
	color: black;
	padding: 2px;
	border: 2px solid black;
	border-radius: 20px;
	background: white;
}

a:hover {
	background: pink;
}

li {
	padding: 5px;
}

img {
	height: 150px;
	width: auto;
	border-radius: 20px;	
}



span {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}

table{
	table-layout:fixed;
	border: 1px solid black;
	background: #d6d172;
	border-collapse: collapse;
	
}

td{
	width:1px;
	white-space:nowrap;
	border: 1px solid black;
	padding: 3px;
}

th{
	border: 1px solid black;
	padding: 3px;
}